body {
    background-color: rgb(40, 40, 40);
    color: whitesmoke
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
}

.selection {
  background: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}