{{define "tab"}}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="info">Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="settings">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="terminal">Terminal</a>
    </li>
</ul>
<div id="terminal"></div>
<script>
    var term = new Terminal({
        cursorBlink: "block"
    });
    term.open(document.getElementById("terminal"));
    term.write("GHost shell $ ");
    
    term.onData((data) => {
        term.write(data);
    });
</script>
{{end}}