{{define "content"}}
<div class="container mt-3">
    <h1>Create a new server</h1>
    <form method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="servername" name="servername" placeholder="Server name">
            <label for="servername">Server name</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="servertype" name="servertype" aria-label="Floating label select example">
                <option value="factorio">Factorio</option>
                <option value="minecraft">Minecraft</option>
                <option value="terraria">Terraria</option>
            </select>
            <label for="servertype">Server type</label>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" id="cpu" name="cpu" placeholder="CPU limit">
                <label for="cpu">CPU limit</label>
            </div>
            <span class="input-group-text" id="cpu">threads</span>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" id="ram" name="ram" placeholder="RAM limit">
                <label for="ram">RAM limit</label>
            </div>
            <span class="input-group-text" id="ram">GiB</span>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" id="disk" name="disk" placeholder="Disk size">
                <label for="disk">Disk size</label>
            </div>
            <span class="input-group-text" id="disk">GiB</span>
        </div>
        <div class="input-group mb-3">
            <input class="w-100 btn btn-primary btn-lg" type="submit" value="Submit"></button>
        </div>
    </form>
</div>
{{end}}