{{define "content"}}
<div class="container mt-3">
    <h1 class="text-center">{{.ServerName}}</h1>
    <p>
        Type: {{.ServerType}}<br>
        Address: {{.IP}}:{{.ExternalPort}}<br>
    </p>
    <form method="POST" action="/console">
        <input type="hidden" name="servername" value={{.ServerName}}>
        <input type="submit" class="btn btn-danger" name="action" value="Delete">
    </form>

    <!-- <div id="terminal"></div>
    <script>
      var term = new Terminal();
      term.open(document.getElementById('terminal'));
      term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ')
    </script> -->
</div>
{{end}}